
.main {
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.main__car_booking-btn {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.main__client_data, .main__car_booking {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #dcdcdc;
    box-shadow: -7px 12px 10px 1px gray;
    padding: 40px;
}

.client_data-data {
    display: flex;
    flex-direction: column;
}

.client_data-info {
    font-size: 16px;
    font-weight: 600;
    line-height: 190%;
}

.client_data-small-info {
    font-size: 12px;
}

.button_add-card, .main__buttons-button {
    background-color: rgb(64 87 96);
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    transition: 0.3s;
    text-align: center;
}

.button_add-card:hover, .main__buttons-button:hover {
    background-color: rgb(88, 119, 131);
}

.main__buttons-button {
    flex: 1 1 0;
}

.main__buttons {
    display: flex;
    width: 100%;
    gap: 10px;
}
