
.main {
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.main__buttons {
    display: flex;
    gap: 10px;
}

.main__profile_data-main__booking {
    width: calc(100% - 90px);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main__booking {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.booking {
    width: 425px;
}

.main__profile_data, .booking {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #dcdcdc;
    box-shadow: -7px 12px 10px 1px gray;
    padding: 40px;
}

.profile_data-data {
    display: flex;
    flex-direction: column;
}

.profile_data-info {
    font-size: 16px;
    font-weight: 600;
    line-height: 190%;
}

.profile_data-small-info {
    font-size: 12px;
}

.booking_info {
    display: flex;
    justify-content: space-between;

    gap: 10px;
}

.main__buttons-button {
    width: 100%;
    background-color: rgb(64 87 96);
    color: white;
    padding: 10px 0;
    font-size: 14px;
    transition: 0.3s;
    text-align: center;
}

.main__buttons-button:hover {
    background-color: rgb(88, 119, 131);
}

